@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Oregano:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  font-family: "Raleway", sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100vh;
  box-sizing: border-box;
  /* -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;  */
}
